<section class="nosotros-section">
    <div class="nosotros-content">
    <h2>Sobre RG Plastic</h2>
    <p>
        En <strong>RG Plastic</strong> contamos con más de 4 años de experiencia en la
        fabricación y comercialización de rollos de polietileno...
    </p>
    <p>
        Nuestra misión es crear valor para nuestros clientes a través de la
        excelencia, la innovación y la responsabilidad social.
    </p>
    </div>
    <img
    src="../../../assets/about_us.webp"
    alt="Fábrica RG Plastic"
    />
</section>
