<header class="site-header">
  <nav class="navbar">
    <!-- Logo y Título -->
    <div class="logo-title">
      <div class="logo">
        <a [routerLink]="['']">
          <img src="../assets/logo (3).png" alt="RG Plastic" />
        </a>
      </div>
      <h1 class="site-title">RG Plastic</h1> <!-- Título añadido -->
    </div>
    <!-- Navegación -->
    <ul class="nav-links">
      <li><a [routerLink]="['']">Inicio</a></li>
      <li><a [routerLink]="['/nosotros']">Nosotros</a></li>
      <li><a [routerLink]="['/productos']">Productos</a></li>
      <li><a [routerLink]="['/sustentabilidad']">Sustentabilidad</a></li>
      <li><a [routerLink]="['/contacto']">Contacto</a></li>
      <li><a [routerLink]="['/aviso-privacidad']">Aviso de Privacidad</a></li>
      <li><a [routerLink]="['/terminos-condiciones']">Términos y Condiciones</a></li>
    </ul>
  </nav>
</header>


<!-- Contenido dinámico de cada ruta -->
<router-outlet></router-outlet>

<footer class="site-footer">
  <p>© 2025 RG Plastic. Todos los derechos reservados.</p>
  <p>Tel: +52 (449) 106 51 91 | Correo: rgplastic14&#64;gmail.com</p>
</footer>
